* {
  box-sizing: border-box;
}

html,
body,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
p,
div {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Hiragino Kaku Gothic ProN W3", sans-serif;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

/* homeのスタイル */
.container {
  margin: 0 auto;
  width: 100%;
}

header {
  background-color: rgba(34, 49, 52, 1);
  height: 64px;
  position: fixed;
  width: 100%;
  z-index: 10;
}

header img {
  border-radius: 50%;
  float: left;
  height: 64px;
  padding: 10px;
  width: 64px;
}

header h1 a {
  color: #fff;
  font-family: serif;
  line-height: 64px;
}

.main {
  background-size: cover;
  height: 1000px;
  text-align: center;
  text-shadow: 0 0 20px #000;
}

.copy-wrapper {
  color: #fff;
  padding-top: 250px;
}

.input-form {
  padding-top: 100px;
  text-align: center;
}

.input-form h3 {
  color: #fff;
  margin-bottom: 20px;
}

.input-txt {
  border: 1px solid #fff;
  box-shadow: 0 0 20px #000;
  font-size: 20px;
  margin-right: 10px;
  transition: all 0.5s;
  width: 250px;
}

.input-txt:hover {
  box-shadow: 5px 5px 5px #000;
}

.btn {
  background-color: #eee;
  border: none;
  border-radius: 4px;
  box-shadow: 0 5px #000;
  color: #000;
  padding: 5px 20px;
}

.btn:active {
  box-shadow: none;
  position: relative;
  top: 5px;
}

footer {
  background-color: rgba(34, 49, 52, 1);
  height: 64px;
}

.artisticon {
  border-radius: 50%;
  height: 150px;
  padding: 10px;
  width: 150px;
}

/* searchのスタイル(PC) */
.main-search {
  background-color: gray;
  display: block;
  height: auto;
  margin: 0 auto;
  padding: 100px 50px 50px 50px;
  text-shadow: 0 0 20px #000;
}

.main-search div {
  display: inline-block;
  width: 50%;
}

.main-search h1 {
  color: white;
  margin-bottom: 50px;
  text-align: center;
}

.artistCard {
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 10px;
  color: #000;
  display: inline-block;
  height: 200px;
  margin: 0 1% 20px 1%;
  position: relative;
  text-align: left;
  transition: all 0.5s;
  vertical-align: middle;
  width: 98%;
}

.artistCard:hover {
  background-color: rgba(255, 255, 255, 1);
}

.artistCard img {
  border-radius: 50%;
  height: 200px;
  padding: 20px;
  width: 200px;
}

.artistCard p {
  font-size: 20px;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-0%, -50%);
  width: 50%;
}

/* searchのスタイル(smartphone) */
.main-search-smartphone {
  background-color: gray;
  display: block;
  height: auto;
  margin: 0 auto;
  padding: 100px 20px 50px 20px;
  text-shadow: 0 0 20px #000;
}

.main-search-smartphone h1 {
  color: white;
  font-size: 25px;
  margin-bottom: 50px;
  text-align: center;
}

.artistCard-smartphone {
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 10px;
  color: #000;
  display: inline-block;
  height: 150px;
  margin: 0 1% 20px 1%;
  position: relative;
  text-align: left;
  transition: all 0.5s;
  vertical-align: middle;
  width: 98%;
}

.artistCard-smartphone:hover {
  background-color: rgba(255, 255, 255, 1);
}

.artistCard-smartphone img {
  border-radius: 50%;
  height: 150px;
  padding: 20px;
  width: 150px;
}

.artistCard-smartphone p {
  font-size: 20px;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-0%, -50%);
  width: 50%;
}

/* resultのスタイル */
.main-result {
  background-color: gray;
  display: block;
  height: auto;
  margin: 0 auto;
  padding: 100px 50px 50px 50px;
  text-shadow: 0 0 20px #000;
}

.relatedCardContainer {
  display: inline-block;
  width: 50%;
}

.main-result h1 {
  color: white;
  margin-bottom: 50px;
  text-align: center;
}

.main-result-smartphone {
  background-color: gray;
  display: block;
  height: auto;
  margin: 0 auto;
  padding: 100px 20px 50px 20px;
  text-shadow: 0 0 20px #000;
}

.main-result-smartphone h1 {
  color: white;
  font-size: 25px;
  margin-bottom: 50px;
  text-align: center;
}

/* detailのスタイル */

.main-detail {
  background-color: gray;
  display: block;
  height: auto;
  margin: 0 auto;
  padding: 100px 50px 50px 50px;
  text-shadow: 0 0 20px #000;
}

.main-detail h1 {
  color: white;
  margin-bottom: 50px;
  text-align: center;
}

.main-detail-smartphone {
  background-color: gray;
  display: block;
  height: auto;
  margin: 0 auto;
  padding: 100px 20px 50px 20px;
  text-shadow: 0 0 20px #000;
}

.main-detail-smartphone h1 {
  color: white;
  font-size: 25px;
  margin-bottom: 50px;
  text-align: center;
}

.react-player {
  float: right;
}

.artistCard-wrapper {
  display: inline-block;
  width: 50%;
}

.detail-title {
  background-color: gray;
  display: block;
  height: auto;
  margin: 0 auto;
  padding: 100px 20px 20px 20px;
  text-shadow: 0 0 20px #000;
}

.detail-title h1 {
  color: white;
  text-align: center;
}

.backbtn-wrpper {
  padding-top: 50px;
  text-align: center;
}

.backbtn {
  background-color: #eee;
  border: none;
  border-radius: 8px;
  box-shadow: 0 5px #000;
  color: #000;
  display: block;
  padding: 10px 40px;
}

.backbtn:active {
  box-shadow: none;
  position: relative;
  top: 5px;
}

.one-backbtn {
  background-color: #eee;
  border: none;
  border-radius: 8px;
  box-shadow: 0 5px #000;
  color: #000;
  display: block;
  margin-bottom: 20px;
  padding: 10px 40px;
}

.one-backbtn:active {
  box-shadow: none;
  position: relative;
  top: 5px;
}
